{% extends 'base.html.twig' %}

{% block title %}Listado de platos{% endblock %}

{% block body %}
    {% block tituloseccion %}
        Listado de platos
    {% endblock %}
    {% block contenido %}
        <div class="col-sm-3 offset-sm-2">
            <a class="btn btn-primary m-1" href="{{ path('plato_new') }}">Crear nuevo</a>
        </div>
        <div class="container">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Calorías</th>
                <th>Tipo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for plato in platos %}
            <tr>
                <td>{{ plato.id }}</td>
                <td>{{ plato.nombre }}</td>
                <td>{{ plato.calorias }}</td>
                <td>{{ plato.tipo.nombre }}</td>
                <td>
                    <a href="{{ path('plato_edit', {'id': plato.id}) }}">Modificar el plato</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <a href="{{ path('menuPrincipal_index') }}">Volver al menú principal</a>
    {% endblock %}
{% endblock %}
